<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-floating">
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "correo" %>
    <%= f.label :email, "Correo" %>
  </div>

  <div class="form-floating">
    
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: "form-control", placeholder: "contrase単a" %>
    <%= f.label :password, "Contrase単a" %>
  </div>

  <div class="form-floating">
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "nueva contrase単a" %>
    <%= f.label :password_confirmation, "Repita su contrase単a" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrarse" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
